
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTimesheetEntryLabel" translate="timetrackerApp.timesheetEntry.home.createOrEditLabel">Create or edit a TimesheetEntry</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="timesheetEntry.id" readonly>
        </div>
        <div class="form-group">
            <label translate="timetrackerApp.timesheetEntry.entryDate" for="field_entryDate">Entry Date</label>
            <input type="date" class="form-control" name="entryDate" id="field_entryDate"
                   ng-model="timesheetEntry.entryDate" required>

            <div ng-show="editForm.entryDate.$invalid">
                <p class="help-block"
                   ng-show="editForm.entryDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="timetrackerApp.timesheetEntry.hours" for="field_hours">Hours</label>
            <input type="number" class="form-control" name="hours" id="field_hours"
                    ng-model="timesheetEntry.hours" required>

            <div ng-show="editForm.hours.$invalid">
                <p class="help-block"
                    ng-show="editForm.hours.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.hours.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="timetrackerApp.timesheetEntry.timesheet" for="field_timesheet">timesheet</label>
            <select class="form-control" id="field_timesheet" name="timesheet" ng-model="timesheetEntry.timesheetId" ng-options="timesheet.id as timesheet.id for timesheet in timesheets">
            </select>
        </div>
        <div class="form-group">
            <label translate="timetrackerApp.timesheetEntry.task" for="field_task">task</label>
            <select class="form-control" id="field_task" name="task" ng-model="timesheetEntry.taskId" ng-options="task.id as task.name for task in tasks">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
